services:
  app:
    build:
      context: ./
      dockerfile: Dockerfile
    image: localhost:6000/counter-app:latest
    env_file:
      - ./backend/.env
    ports:
      - "80:8000"
    depends_on:
      - redis
    restart: always
    deploy:
      replicas: 4

  redis:
    image: redis:7-alpine
    command: ["redis-server", "--save", "60", "1", "--appendonly", "yes"]
    volumes:
      - redis_data:/data
    restart: always

volumes:
  redis_data:
